
.breweryCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60vw;
    height: 60vh;
    margin: 5vh auto;
    border-radius: 2vh;
    background-color: rgb(156,164,172);


}